<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SecondWind</key>
	<dict>
		<key>Name</key>
		<string>Second Wind</string>
		<key>EffectText</key>
		<string>Restore 30% of Max Energy</string>
		<key>CardImageString</key>
		<string></string>
		<key>Value</key>
		<integer>0</integer>
	</dict>
	<key>IgnorePain</key>
	<dict>
		<key>Name</key>
		<string>Ignore Pain</string>
		<key>EffectText</key>
		<string>Increase Damage Resistance by +5 until your next turn</string>
		<key>CardImageString</key>
		<string></string>
		<key>Value</key>
		<integer>5</integer>
	</dict>
	<key>Prepared</key>
	<dict>
		<key>Name</key>
		<string>Prepared</string>
		<key>EffectText</key>
		<string>Increase Melee and Range Defense by +3 until your next turn</string>
		<key>CardImageString</key>
		<string></string>
		<key>Value</key>
		<integer>3</integer>
	</dict>
	<key>BobAndWeave</key>
	<dict>
		<key>Name</key>
		<string>Bob And Weave</string>
		<key>EffectText</key>
		<string>Increase Melee Defense by +4 until your next turn</string>
		<key>CardImageString</key>
		<string></string>
		<key>Value</key>
		<integer>4</integer>
	</dict>
	<key>Deflect</key>
	<dict>
		<key>Name</key>
		<string>Deflect</string>
		<key>EffectText</key>
		<string>Increase Range Defense by +4 until your next turn</string>
		<key>CardImageString</key>
		<string></string>
		<key>Value</key>
		<integer>4</integer>
	</dict>
	<key>DeadlyAccurate</key>
	<dict>
		<key>Name</key>
		<string>Deadly Accurate</string>
		<key>EffectText</key>
		<string>Increase Attack and Damage by +2 until your next turn</string>
		<key>CardImageString</key>
		<string></string>
		<key>Value</key>
		<integer>2</integer>
	</dict>
	<key>Aim</key>
	<dict>
		<key>Name</key>
		<string>Aim</string>
		<key>EffectText</key>
		<string>Increase Attack by +4 until your next turn</string>
		<key>CardImageString</key>
		<string></string>
		<key>Value</key>
		<integer>4</integer>
	</dict>
	<key>RecklessSwing</key>
	<dict>
		<key>Name</key>
		<string>Reckless Swing</string>
		<key>EffectText</key>
		<string>Increase Damage by +6 and become DEFENSELESS until your next turn.</string>
		<key>CardImageString</key>
		<string></string>
		<key>Value</key>
		<integer>6</integer>
	</dict>
	<key>Counterattack</key>
	<dict>
		<key>Name</key>
		<string>Counterattack</string>
		<key>EffectText</key>
		<string>Whenever you dodge an attack until your next turn, deal damage equal to your lowest damaging attack back to the attacker. Ignore Toughness.</string>
		<key>CardImageString</key>
		<string></string>
		<key>Value</key>
		<integer>0</integer>
	</dict>
	<key>CarelessTrip</key>
	<dict>
		<key>Name</key>
		<string>Careless Trip</string>
		<key>EffectText</key>
		<string>Your Target becomes PRONE</string>
		<key>CardImageString</key>
		<string></string>
		<key>Value</key>
		<integer>0</integer>
	</dict>
	<key>Taunt</key>
	<dict>
		<key>Name</key>
		<string>Taunt</string>
		<key>EffectText</key>
		<string>Your target moves toward you equal to their Speed.</string>
		<key>CardImageString</key>
		<string></string>
		<key>Value</key>
		<integer>0</integer>
	</dict>
	<key>StrategicMind</key>
	<dict>
		<key>Name</key>
		<string>Strategic Mind</string>
		<key>EffectText</key>
		<string>Refill the Attack Points for 2 Attacks</string>
		<key>CardImageString</key>
		<string></string>
		<key>Value</key>
		<integer>0</integer>
	</dict>
	<key>BrilliantMind</key>
	<dict>
		<key>Name</key>
		<string>Brilliant Mind</string>
		<key>EffectText</key>
		<string>Refill the Attack Points for 3 Attacks</string>
		<key>CardImageString</key>
		<string></string>
		<key>Value</key>
		<integer>0</integer>
	</dict>
	<key>Fatigue</key>
	<dict>
		<key>Name</key>
		<string>Fatigue</string>
		<key>EffectText</key>
		<string>Set your Target&apos;s energy to 5</string>
		<key>CardImageString</key>
		<string></string>
		<key>Value</key>
		<integer>5</integer>
	</dict>
	<key>Winded</key>
	<dict>
		<key>Name</key>
		<string>Winded</string>
		<key>EffectText</key>
		<string>Your target skips their Recovery Phase on their next 2 turns</string>
		<key>CardImageString</key>
		<string></string>
		<key>Value</key>
		<integer>2</integer>
	</dict>
	<key>Gassed</key>
	<dict>
		<key>Name</key>
		<string>Gassed</string>
		<key>EffectText</key>
		<string>Your target skips their Recovery Phase on their next turn</string>
		<key>CardImageString</key>
		<string></string>
		<key>Value</key>
		<integer>1</integer>
	</dict>
	<key>Exhausted</key>
	<dict>
		<key>Name</key>
		<string>Exhausted</string>
		<key>EffectText</key>
		<string>Your target skips their Recovery Phase on their next 3 turns</string>
		<key>CardImageString</key>
		<string></string>
		<key>Value</key>
		<integer>3</integer>
	</dict>
	<key>FindCover</key>
	<dict>
		<key>Name</key>
		<string>Find Cover</string>
		<key>EffectText</key>
		<string>Become PRONE. Become IMMUNE to Ranged attacks until your next turn</string>
		<key>CardImageString</key>
		<string></string>
		<key>Value</key>
		<integer>0</integer>
	</dict>
	<key>ExploitWeakness</key>
	<dict>
		<key>Name</key>
		<string>Exploit Weakness</string>
		<key>EffectText</key>
		<string>Your Target&apos;s melee and range defense is 1 until the end of their turn</string>
		<key>CardImageString</key>
		<string></string>
		<key>Value</key>
		<integer>1</integer>
	</dict>
	<key>Dash</key>
	<dict>
		<key>Name</key>
		<string>Dash</string>
		<key>EffectText</key>
		<string>Double all your movement until the end of your turn</string>
		<key>CardImageString</key>
		<string></string>
		<key>Value</key>
		<integer>0</integer>
	</dict>
	<key>Grapple</key>
	<dict>
		<key>Name</key>
		<string>Grapple</string>
		<key>EffectText</key>
		<string>If Combat Distance to Target is 5 meters or less, reduce Combat Distance to 0. Your Target becomes IMMOBILE</string>
		<key>CardImageString</key>
		<string></string>
		<key>Value</key>
		<integer>0</integer>
	</dict>
	<key>OneStepAhead</key>
	<dict>
		<key>Name</key>
		<string>One Step Ahead</string>
		<key>EffectText</key>
		<string>Draw 2 cards and play another card. Discard 2 cards this turn instead of 1.</string>
		<key>CardImageString</key>
		<string></string>
		<key>Value</key>
		<integer>0</integer>
	</dict>
	<key>TwoStepsAhead</key>
	<dict>
		<key>Name</key>
		<string>Two Steps Ahead</string>
		<key>EffectText</key>
		<string>Draw 3 cards and play another card. Discard 3 cards this turn instead of 1.</string>
		<key>CardImageString</key>
		<string></string>
		<key>Value</key>
		<integer>0</integer>
	</dict>
	<key>ThreeStepsAhead</key>
	<dict>
		<key>Name</key>
		<string>Three Steps Ahead</string>
		<key>EffectText</key>
		<string>Draw 4 cards and play another card. Discard 4 cards this turn instead of 1.</string>
		<key>CardImageString</key>
		<string></string>
		<key>Value</key>
		<integer>0</integer>
	</dict>
	<key>Blind</key>
	<dict>
		<key>Name</key>
		<string>Blind</string>
		<key>EffectText</key>
		<string>Your target becomes BLIND</string>
		<key>CardImageString</key>
		<string></string>
		<key>Value</key>
		<integer>0</integer>
	</dict>
	<key>Retreat</key>
	<dict>
		<key>Name</key>
		<string>Retreat</string>
		<key>EffectText</key>
		<string>Move away from your Target equal to your Speed</string>
		<key>CardImageString</key>
		<string></string>
		<key>Value</key>
		<integer>0</integer>
	</dict>
	<key>ImproviseWeapon</key>
	<dict>
		<key>Name</key>
		<string>Improvise Weapon</string>
		<key>EffectText</key>
		<string>Increase Damage by +3 until your next turn</string>
		<key>CardImageString</key>
		<string></string>
		<key>Value</key>
		<integer>3</integer>
	</dict>
</dict>
</plist>
